node_modules npm-debug
.log* 
.git 
.github 
.env 
.env
.local 
.env.
*.local logs 
*.log coverage 
.nyc_output 
.vscode
.idea  
*.swp 
*.swo 
.DS_Store Thumbs
.db README
.md tests/ jest
.config.js 
.eslintrc*